# Git Large File Storage (LFS) - track large encrypted model files
*.enc filter=lfs diff=lfs merge=lfs -text
models/**/*.enc filter=lfs diff=lfs merge=lfs -text
models/transcect[[:space:]]1[[:space:]]Abo[[:space:]]Shosha/scene_dense.ply filter=lfs diff=lfs merge=lfs -text
